.rmdb-loadmorebtn {
  background: rgb(30,49,144);
  background: linear-gradient(90deg, rgba(30,49,144,1) 0%, rgba(178,49,152,1) 100%);
  width: 100%;
  min-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 20px;
}

.rmdb-loadmorebtn p {
  font-family: 'Abel', sans-serif;
  font-size:42px;
  padding: 20px;
}

.rmdb-loadmorebtn:hover {
  opacity: 0.8;
}