.rmdb-actor {
  height: auto;
  min-height: 30px;
  background: #1c1c1c;
  border-radius: 20px;
  padding-bottom: 25px;
  text-align: center;
  box-shadow: 10px 10px 30px 10px #3335366b;
}
.rmdb-actor:hover{
  /* box-shadow: 10px 10px 30px 20px #3335366b;
  transform: scale(1.1);
  transition-duration: 500;
  cursor: pointer;
     */
}

.rmdb-actor img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin: 0 auto;

}

.rmdb-actor-name {
  display: block;
  font-family: 'Abel', sans-serif;
  font-size: 22px;
  color:#fff;
  box-sizing: border-box;
  margin: 20px 0 0 0;
}

.rmdb-actor-character {
  display: block;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  color:#fff;
 
 
  box-sizing: border-box;
}