.rmdb-header {
  width: 100%;
  height: auto;
  background: rgb(28, 28, 28);
  /* background:  linear-gradient(90deg, rgb(28, 28, 28) 40%, rgba(178,49,152,1) 100%); */
  padding: 0 20px;
  box-sizing: border-box;
}

.rmdb-header-content {
  max-width: 1280px;
  min-height: 120px;
  height: auto;
  padding: 20px 0px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.rmdb-header-brand{
  max-width: 250px;
  cursor: pointer;
}
.rmdb-header-brand:active{
  text-decoration: none;
}
.header-title-R{
  margin-left: 20px;
  font-size: 60px;
  margin-right: 10px;
  margin-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(112, 38, 100);
}
.header-title{
  font-size: 30px;
  margin-top: 10px;
  font-family: fantasy;
  color: rgb(255, 255, 254);
}


.rmdb-logo {
  width: 80px;
  /* margin-top: 20px; */
  float: left;
}

.rmdb-tmdb-logo {
  width: 122px;
  margin-top: 25px;
  float: right;
}

@media screen and (max-width: 400px) {
  .rmdb-header-content {
    max-width: 1280px;
    min-height: 0px;
  }

  .rmdb-tmdb-logo {
    display: inline-block;
    width:80px;
    margin-top: 0px;
  }

  .rmdb-logo {
    width: 150px;
    margin-top: 5px;
  }
}